.Link {
  color: #ffff;
  text-decoration: none;
}
.navBar {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
}
.accountRoot {
  display: flex;
  justify-content: center;
}
.accountMain {
  text-align: center;
  padding: 6vh;
  border: 1px solid #8e2de2;
}
.btn {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: #ffff;
}
